@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="d-flex w-100 h-100 flex-column align-items-center register">
    <div class="text-center login-header pb-4 mb-md-2">
        <h1>Login</h1>
        <p>Login to LinkShortner using your email/username and password</p>
    </div>
        @if (!string.IsNullOrEmpty(@Model.Error))
        {
            <div class="alert alert-danger w-75 d-flex align-items-center">
                <div class="bi bi-exclamation-triangle me-2"></div>
                <div>
                    @Model.Error
                </div>
            </div>
        }
    <div class="row row-cols-lg-auto justify-content-around w-100 mb-5">
        <section class="mb-4 form-sec">
            <form method="post" id="EmailLoginForm" class="needs-validation" asp-action="Login" asp-controller="Account" novalidate>
                <div class="mb-2 form-div">
                    <label asp-for="Account.Email" for="emailInput" class="form-label">Email</label>
                    <input name="Email" asp-for="Account.Email" type="email" class="form-control" id="emailInput" required/>
                    <div class="invalid-feedback">Please enter a your email</div>
                </div>
                <div class="mb-5 form-div">
                    <label asp-for="Account.Password" for="passwordInputEmail" class="form-label">Password</label>
                    <input name="Password" asp-for="Account.Password" type="password" class="form-control" id="passwordInputEmail" required/>
                    <div class="invalid-feedback">Please enter a password</div>
                </div>
                <button id="EmailLoginFormSubmit" type="submit" class="btn btn-lg btn-primary">Login with Email</button>
            </form>
        </section>
        <section class="form-sec">
            <form id="usernameLoginForm" class="needs-validation" asp-action="Login" asp-controller="Account" novalidate>
                <div class="mb-2 form-div">
                    <label asp-for="Account.Username" for="usernameInputInput" class="form-label">Username</label>
                    <input asp-for="Account.Username" type="email" class="form-control" id="usernameInput" required/>
                    <div class="invalid-feedback">Please enter your username</div>
                </div>
                <div class="mb-5 form-div">
                    <label asp-for="Account.Password" for="passwordInputUsername" class="form-label">Password</label>
                    <input asp-for="Account.Password" type="password" class="form-control" id="passwordInputUsername" required/>
                    <div class="invalid-feedback">Please enter a password</div>
                </div>
                <button type="submit" class="btn btn-lg btn-primary ">Login with Username</button>
            </form>
        </section>
    </div>
    <p>Not a user? <a asp-action="Register" asp-controller="Account" class="link-primary">Register</a></p>
</div>